version: '3'

services:
  db-postgres:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_PASSWORD: "root"
    ports:
      - "5432:5432"
    volumes:
      - /home/daniel/Desenvolvimento/Docker/PostgreSQL:/var/lib/postgresql/data 
    networks:
      - db-postgres-network
      
  pgadmin-compose:
    image: dpage/pgadmin4
    container_name: postgres_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "dsl15021996@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
    ports:
      - "16543:80"
    depends_on:
      - db-postgres
    networks:
      - db-postgres-network

networks: 
  db-postgres-network:
    driver: bridge